:root {
    /* change the values below to your colors from your palette */
    --primary-color: #525970;
    --secondary-color: #e7b181;
    --accent1-color: #a2a8ba;
    --accent2-color: white;

    /* change the values below to your chosen font(s) */
    --heading-font: Helvetica, Arial, sans-serif;
    --paragraph-font: Helvetica, Arial, sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: var(
      --primary-color
    ); /* headlines on a white background */
    --headline-color-on-color: white; /* headlines on a colored background */
    --paragraph-color-on-white: var(
      --primary-color
    ); /* paragraph text on a white background */
    --paragraph-color-on-color: white; /* paragraph text on a colored background */
    --paragraph-background-color: var(--primary-color);
    --nav-link-color: var(--primary-color);
    --nav-background-color: var(--secondary-color);
    --nav-hover-link-color: white;
    --nav-hover-background-color: var(--primary-color);
}

body {
    background-color: var(--primary-color);
    font-family: var(--paragraph-font)
}

p {
    color:var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
}

img {
    max-width: 40%;
}

h1 a{
    color: var(--accent2-color);
    font-size: 50px;
    letter-spacing: 0.05em;
}

h2 {
    color: var(--accent2-color);
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 20px;
}

nav a {
    column-gap: 0em;
}

section {
    text-align: center;
}

.checked {
    color: var(--secondary-color);
  }

.star {
    color: var(--accent1-color);
    font-size: 20px;
}

.recipes-list {
    padding: 0em;
}

.ingredients {
    line-height: 1.5em;
}

.instructions {
    line-height: 1.5em;
}

@media screen and (max-width: 600px) {
    img {
        min-width: 100%;
    }
    .ingredients {
        text-align: start;
    }
    .instructions {
        text-align: start;
    }
}