@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Fira+Sans&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #525970;
    --secondary-color: #e7b181;
    --accent1-color: #a2a8ba;
    --accent2-color: white;

    /* change the values below to your chosen font(s) */
    --heading-font: 'Fira Sans', sans-serif;
    --paragraph-font: 'Amiko', sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: var(
      --primary-color
    ); /* headlines on a white background */
    --headline-color-on-color: white; /* headlines on a colored background */
    --paragraph-color-on-white: var(
      --primary-color
    ); /* paragraph text on a white background */
    --paragraph-color-on-color: white; /* paragraph text on a colored background */
    --paragraph-background-color: var(--primary-color);
    --nav-link-color: var(--primary-color);
    --nav-background-color: var(--secondary-color);
    --nav-hover-link-color: white;
    --nav-hover-background-color: var(--primary-color);
}

body {
    background-color: var(--primary-color);
}

main {
    height: 100%;
}

p {
    color:var(--secondary-color);
    font-family: var(--paragraph-font)
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--paragraph-font)
}

img {
    max-width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

h1 a{
    color: var(--accent2-color);
    font-family: var(--heading-font);
}

h2 {
    color: var(--accent2-color);
    font-family: var(--heading-font);
}

pre {
    white-space: pre-line;
    color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0em;
}

.logo {
    margin-bottom: 2em;
    width: 20%;
}

.checked {
    color: var(--secondary-color);
  }

.star {
    color: var(--accent1-color);
}

.recipes-list {
    padding: 0em;
    align-self: center;
}

.card {
    width: 65%;
    border: .01em var(--accent2-color) solid;
    border-radius: 1em;
    justify-self: center;
    text-align: center;
    margin-bottom: 1em;
}

@media screen and (max-width: 600px) {
    header {
        text-align: center;
    }
    ul {
        grid-template-columns: 1fr;
    }
    .logo {
        width: 70%;
        margin-bottom: 0.5em;
    }
    .card {
        width: 80%;
    }
}