@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiko&family=Fira+Sans&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #525970;
    --secondary-color: #e7b181;
    --accent1-color: #a2a8ba;
    --accent2-color: white;

    /* change the values below to your chosen font(s) */
    --heading-font: 'Fira Sans', sans-serif;
    --paragraph-font: 'Amiko', sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: var(
      --primary-color
    ); /* headlines on a white background */
    --headline-color-on-color: white; /* headlines on a colored background */
    --paragraph-color-on-white: var(
      --primary-color
    ); /* paragraph text on a white background */
    --paragraph-color-on-color: white; /* paragraph text on a colored background */
    --paragraph-background-color: var(--primary-color);
    --nav-link-color: var(--primary-color);
    --nav-background-color: var(--secondary-color);
    --nav-hover-link-color: white;
    --nav-hover-background-color: var(--primary-color);
}

body {
    background-color: var(--primary-color);
}

main {
    height: 100%;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: var(--accent1-color);
  color: var(--accent2-color);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-family: var(--heading-font);
  margin-bottom: 1em;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: var(--secondary-color);
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: var(--primary-color);
}

p {
    color:var(--secondary-color);
    font-family: var(--paragraph-font)
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--paragraph-font)
}

img {
    max-width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

h1 a{
    color: var(--accent2-color);
    font-family: var(--heading-font);
    padding-left: 0.15em;
    padding-right: 0.15em;
}

h2 {
    color: var(--accent2-color);
    font-family: var(--heading-font);
}

pre {
    white-space: pre-line;
    color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0em;
}

.logo {
    margin-bottom: 2em;
    width: 20%;
}

.checked {
    color: var(--secondary-color);
  }

.star {
    color: var(--accent1-color);
}

.recipes-list {
    padding: 0em;
    align-self: center;
}

.card {
    width: 65%;
    border: .01em var(--accent2-color) solid;
    border-radius: 1em;
    justify-self: center;
    text-align: center;
    margin-bottom: 1em;
}

@media screen and (max-width: 600px) {
    header {
        text-align: center;
    }
    ul {
        grid-template-columns: 1fr;
    }
    .logo {
        width: 70%;
        margin-bottom: 0.5em;
    }
    .card {
        width: 80%;
    }
}